<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/styles.css') }}">
    </head>
    <body>
        <h1 class="text">Caesar Encryption</h1>
        <p class="text">just enter a number in the first box. <br/> 
        Then add your text in the second, push the encrypt button<br/>
        and voilá. Now the text is encrypted via caesar encryption</p>
      <form method="POST">
        <label>Rotate by
        <input type="text" name="rot" value="0"/>
        <label/>
        <textarea name="text">{{encrypt}}</textarea>
        <input type="submit" value="encrypt"/>
      </form>
    </body>
</html>